*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html{
    /* Ativa a rolagem suave nativa para links âncoras*/
    scroll-behavior: smooth;
    /* Não ativa a barra de rolagem quando um item sai do fluxo X da tela */
    overflow-x: hidden; 
}