/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container{
    display: flex;
}

.header{
    height: 100vh;
    width: 50vw;
}

.header-h1{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:400%;
}

.header-h2{
    color:deepskyblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
}

.main{
    height: 100vh;
    width: 50vw;
}

.main-container{
    height: 90px;
    width: 90px;
}