/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.main-right{
    display: flex;
    height: 68vh;
    width: 68vw;
    align-items: center; 
    text-align: justify;  
    flex-direction: column; 
    justify-content: center;
    padding: 45px;
}

.header{
    display: flex;
    height: 40%;
    width: auto;
    flex-direction: column;
    text-align:start;
    padding: 15px;
}

.header-h1{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:500%;
    height: 50%;
    width: auto;
}

.header-h1 sup{
    color: blue;
    font-size: 30px;
}

.header-h2{
    display: block;
    color:deepskyblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    height: 50%;
    width: auto;
    padding-top: 110px;
    padding-bottom: 50px;
}

.main-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;                     
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.main-article__h3{
    padding-top: 35px;
    font-size: 250%;
}

.main-article__h3 sup{
    font-size: 20px;
    color: blue;
}

.main-article__p{
    font-size: 150%;
}

.main-article__p sup{
    color: blue;
}

.main-footer-3__right{
    display: block ;                 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.main-left{
    flex-direction: row-reverse; 
    align-items: center;         
    justify-content: flex-end; 
    height: 32vh;
    width: 32vw;
}

.main-container__left{
    display: flex;
    height: auto;
    width: 100%;
    margin: 15px;
    align-items: center;
    justify-content: center;
}